HELP.md
BackEnd/target/
!BackEnd/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
BackEnd/.apt_generated
BackEnd/.classpath
BackEnd/.factorypath
BackEnd/.project
BackEnd/.settings
BackEnd/.springBeans
BackEnd/.sts4-cache

### IntelliJ IDEA ###
BackEnd/.idea
BackEnd/*.iws
BackEnd/*.iml
BackEnd/*.ipr

### NetBeans ###
BackEnd/nbproject/private/
BackEnd/nbbuild/
BackEnd/dist/
BackEnd/nbdist/
BackEnd/.nb-gradle/
BackEnd/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
BackEnd/.vscode/
.vscode

hola
