.menu {
  padding: 10px;
  border: 2px solid var(--main-border-color);
  border-radius: 20px;
}

.btn {
  background-color: #4E2C0B;
  color: var(--font-color);
  border-radius: 10px;
  padding-top: 3rem ;
  padding-bottom: 3rem ;
}

.btn:hover,
.btn:focus {
  transform: scale(1.01);
}

a img {
  width: 30px;
  height: 30px;
}

