/* You can add global styles to this file, and also import other style files */
:root {
  --background: #261F22;
  --font-color: rgb(255, 196, 122);
  --main-border-color: #A3150B;
}

body {
  background-color: #261F22;
}

.modal-content {
  background-color: transparent;
}

