/* You can add global styles to this file, and also import other style files */
:root {
  --background: #261F22;
  --font-color: #ffc47a;
  --main-border-color: #A3150B;
}

.modal-content {
  background-color: transparent;
}

